<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>BBS</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="name" id="">
        <input type="submit" value="Post!">
        <ul>
            <% for (let i = 0; i < posts.length; i++) { %>
            <li><%= posts[i] %></li>
            <% } %>
        </ul>
    </form>
</body>
</html>